<ion-header>
  <ion-toolbar>
    <div class="top-tabs">
      <ion-button 
      shape="round" 
      class="btns" 
      color="warning"
      [routerLink]="['/home']"
      routerLinkActive="router-link-active"
      ><ion-icon name="home-outline"></ion-icon>Home</ion-button
      >
      <ion-button
        shape="round"
        class="btns"
        color="success"
        style="font-size: 12px"
        [routerLink]="['/join']"
        routerLinkActive="router-link-active"
        ><ion-icon name="people-circle-outline"></ion-icon>Join</ion-button
      >
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="player-icon"></div>
  <ion-item class="chngimg" lines="none">
    <ion-button shape="round" class="chng-img"> Change Image </ion-button>
  </ion-item>

  <ion-item class="fnshd" lines="none">
    <ion-label class="ion-text-center">FINISHED QUIZ</ion-label>
  </ion-item>

  <ion-fab horizontal="end" vertical="bottom" slot="fixed">
    <ion-fab-button
      color="dark"
      [routerLink]="['/login']"
      routerLinkActive="router-link-active"
    >
      <ion-icon name="people-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="quizez" *ngFor="let quiz of quizzes let i = index">
    <ion-card> </ion-card>
    <ion-item lines="none">
      <ion-button
        shape="round"
        class="view-result-btn"
        color="success"
        (click)="viewDetails(quiz.quiz_id, i)"
      >
        View Result
      </ion-button>
    </ion-item>
  </div>
</ion-content>
