ion-content{
  --background: #fff;
  height: 100%;
}

img {
    width: 40%;
    margin-left: 27%;
    margin-bottom: 10%;
    margin-top: 5%;
  }
  
  ion-title {
    font-size: 15px;
  }
  
  .inputs {
    --background: #c4c4c4;
    --border-radius: 50px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
  }
  
  .btn {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
  }
  