<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="login"
        text=""
        icon="arrow-back-circle-sharp"
      ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img src="../../../assets/icon/logo.jpg" alt="" />

  <ion-item class="inputs">
    <ion-input
      placeholder="Name"
      class="ion-text-center"
      type="text"
      [(ngModel)]="credentials.name"
    ></ion-input>
  </ion-item>

  <ion-item class="inputs">
    <ion-input
      placeholder="Email"
      class="ion-text-center"
      type="email"
      [(ngModel)]="credentials.email"
    ></ion-input>
  </ion-item>

  <ion-item class="inputs">
    <ion-input
      placeholder="Password"
      type="password"
      class="ion-text-center"
      [(ngModel)]="credentials.password"
    ></ion-input>
  </ion-item>

  <ion-item class="inputs">
    <ion-input
      placeholder="Confirm Password"
      type="password"
      class="ion-text-center"
      [(ngModel)]="credentials.confirmPass"
    ></ion-input>
  </ion-item>

  <ion-button expand="block" shape="round" class="btn" (click)="register()">
    Register
  </ion-button>
</ion-content>
