<ion-content class="ion-padding">
  <img
    src="../../../assets/avatars/{{imageNumber}}.png"
    alt=""
    class="avatar"
  />

  <ion-item class="chngimg" lines="none" (click)="changeImage()">
    <ion-button shape="round" class="chng-img">
      <ion-icon name="image-outline"></ion-icon>Change
    </ion-button>
  </ion-item>

  <ion-item class="inputs">
    <ion-input
      shape="round"
      placeholder="Enter Code"
      class="ion-text-start"
    ></ion-input>
    <ion-button
      shape="round"
      class="join ion-float-right"
      color="success"
      style="font-size: 15px"
      [routerLink]="['/join']"
      routerLinkActive="router-link-active"
      >Join</ion-button
    >
  </ion-item>

  <ion-button
    shape="round"
    class="btns-create"
    style="font-size: 15px"
    [routerLink]="['/create']"
    routerLinkActive="router-link-active"
    >CREATE QUIZ</ion-button
  >

  <ion-item class="myquiz" lines="none">
    <ion-label class="ion-text-center">MY QUIZ</ion-label>
  </ion-item>

  <h6 class="ion-text-center">RECENT</h6>

  <ion-fab horizontal="end" vertical="top" slot="fixed">
    <ion-fab-button
      color="danger"
      [routerLink]="['/login']"
      routerLinkActive="router-link-active"
    >
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div class="quizez" *ngFor="let quiz of quizzes">
    <h6 class="score-label" maxlength="10">Final Quiz Semester One sdsd</h6>

    <ion-card class="score-box"> </ion-card>
    <ion-item lines="none">
      <ion-button
        shape="round"
        class="view-result-btn"
        color="success"
        (click)="presentAlert()"
      >
        Result
      </ion-button>
    </ion-item>
  </div>
</ion-content>
