h6 {
  font-size: 0.8em;
  margin-top: 10%;
}

ion-content {
  --background: #fff no-repeat center center / cover;
}

ion-card {
  height: 100px;
  background: #c4c4c4;
}

ion-fab {
  margin-bottom: 10%;
  margin-right: 3%;
}

h6,
ion-input,
ion-button,
ion-label {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.avatar {
  margin-top: 13%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -webkit-box-shadow: 1px 1px 0px 17px rgba(3, 255, 221, 1);
  -moz-box-shadow: 1px 1px 0px 17px rgba(3, 255, 221, 1);
  box-shadow: 1px 1px 0px 17px rgba(3, 255, 221, 1);
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.join {
  height: 100%;
  width: 40%;
  position: absolute;
  left: 59.5%;
}

.inputs {
  margin-top: 9%;
  color: black;
  --background: #c4c4c4;
  --border-radius: 50px;
  width: 90%;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

.top-tabs {
  background: #c4c4c4;
  height: 60px;
  border-radius: 15px;
}

.btns-create {
  color: black;
  --border-radius: 20px;
  height: 45px;
  width: 60%;
  padding: 2px 16px;
  display: block;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.chngimg {
  color: black;
  --background: #fff;
  margin-bottom: auto;
  margin-right: auto;
}

.chng-img {
  --background: rgba(83, 29, 235, 0.68);
  margin-left: auto;
  margin-right: auto;
  height: 3.5em;
}

.myquiz {
  color: black;
  --background: #ebb11d;
  --border-radius: 50px;
  width: 90%;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.quizez {
  margin-left: 3.2%;
  width: 45%;
  float: left;
}

.score-box {
  background-image: url("../../../assets/score.jpg");
  background-size: 100%;
}

.score-label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  margin-left: auto;
  margin-right: auto;
}

.view-result-btn {
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 100%;
}
